@inject SignInManager<IdentityUser> signInManager
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model DetailsViewModel

@{
    ViewData["Title"] = "Details";

    // Data coming from Edit page
    //ViewData["Message-edit"] = TempData["message-edit"];
    ViewData["Edit"] = TempData["edit"];

    // Data coming from Create page
    //ViewData["Message-create"] = TempData["message-create"];
    ViewData["Create"] = TempData["create"];
}

<p>
    <a asp-action="Index"><< Back to List</a>
</p>

@if (ViewData["Edit"] != null || ViewData["Create"] != null)
{
    @if (ViewData["Edit"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">The Quiz has been successfully updated.</h4>
            @ViewData["Message-edit"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">The new Quiz has been added successfully to the system.</h4>
            @ViewData["Message-create"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<h1 class="py-3">@Model.Quiz.Title</h1>


@foreach (var question in @Model.Questions)
{
    <div class="card my-3">
        <div class="card-header card-title">
            <h4> @question.QuestionText </h4>
        </div>

        @if (signInManager.IsSignedIn(User))
        {
            @foreach (var answer in question.Answers)
            {
                <div class="card-body">
                    @if (answer.IsCorrect)
                    {
                        <h5 class="text-success">Correct Answer</h5>
                        <h6 class="card-text">@answer.AnswerText</h6>
                    }
                    else
                    {
                        <h5 class="text-danger">Incorrect Answer</h5>
                        <h6>@answer.AnswerText</h6>
                    }
                </div>
            }
        }
    </div>
}
@if (!signInManager.IsSignedIn(User))
{
    @*<div class="alert alert-info alert-dismissible fade show" role="alert">
        <h4 class="alert-heading alert-info">There are no quizzes for the requested search.</h4>
    </div>*@
    <div class="alert alert-info" role="alert">
        <h5 class="alert-heading alert-info">Log in or register to be able to see the answers.</h5>
        <p>
            <a asp-controller="Account" asp-action="Login">Login |</a>
            <a asp-controller="Account" asp-action="Register"> Register</a>
        </p>
    </div>
}

<div>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
    {
        <form method="post" asp-action="Delete" asp-route-id="@Model.Quiz.QuizId">
            <a class="btn btn-primary" asp-controller="Quiz" asp-action="Edit" asp-route-id="@Model.Quiz.QuizId">Edit</a>
            <button type="submit" class="btn btn-dark">Delete</button>
        </form>
    }
</div>

